<div class="mt-4 mb-4">
  <h1 class="text-center mb-4">Sign up</h1>
  <div class="signup-container container py-4 px-4">
    <form class="row g-3" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          formControlName="name"
          required
        />
        <app-errors [control]="signupForm.get('name')"></app-errors>
      </div>
      <div class="col-md-6">
        <label for="inputSurname" class="form-label">Surname</label>
        <input
          type="text"
          class="form-control"
          id="inputSurname"
          formControlName="surname"
          required
        />
        <app-errors [control]="signupForm.get('surname')"></app-errors>
      </div>
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          formControlName="email"
          required
        />
        <app-errors [control]="signupForm.get('email')"></app-errors>
      </div>
      <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone number</label>
        <input
          type="tel"
          class="form-control"
          id="inputPhone"
          formControlName="phone"
          required
        />
        <app-errors [control]="signupForm.get('phone')"></app-errors>
      </div>
      <div class="col-12">
        <label for="inputPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="password"
          required
        />
        <app-errors [control]="signupForm.get('password')"></app-errors>
      </div>
      <div class="col-12">
        <label for="inputPassword2" class="form-label">Repeat password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword2"
          formControlName="confirmPassword"
          required
        />
        <small
          *ngIf="signupForm.errors?.['passwordMismatch']"
          class="error-message text-danger mt-2"
        >
          Password and confirm password must match.
        </small>
        <app-errors [control]="signupForm.get('confirmPassword')"></app-errors>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="gridCheck"
            formControlName="termsAndConditions"
            (change)="updateTermsAndConditions($event)"
          />
          <label class="form-check-label" for="gridCheck">
            I accept the terms and conditions
          </label>
          <div
            *ngIf="signupForm.get('termsAndConditions')?.hasError('required')"
          >
            <small class="error-message text-danger"
              >You must accept the terms and conditions.</small
            >
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <button
          type="button"
          class="btn btn-danger me-3"
          [routerLink]="['/login']"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="signupForm.invalid"
        >
          Sign up
        </button>
      </div>
    </form>
  </div>
</div>
