<div class="signup">
  <h1>Sign up</h1>
  <div class="signup-container container py-4 px-4">

    <form class="row g-3" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" formControlName="name" required>
      </div>
      <div class="col-md-6">
        <label for="inputSurname" class="form-label">Surname</label>
        <input type="text" class="form-control" id="inputSurname" formControlName="surname"  required>
      </div>
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email"  required>
      </div>
      <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone number</label>
        <input type="tel" class="form-control" id="inputPhone" formControlName="phone"  required>
      </div>
      <div class="col-12">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" formControlName="password"  required>
      </div>
      <div class="col-12">
        <label for="inputPassword2" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="inputPassword2" formControlName="confirmPassword" required>
        <div *ngIf="signupForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="invalid-feedback">
          Password and confirm password must match.
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
            I accept the terms and conditions
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>
  </div>
</div>
