$custom-el-color-primary: #C7DBA6;

.login-container {
  background-color: $custom-el-color-primary;
  border-radius: 10px;
}

.login-button {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.35);
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: $custom-el-color-primary;
}

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;

  img {
    width: 20px;
    margin-right: 10px;
  }
}

.facebook-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  img {
    width: 20px;
    margin-right: 10px;
  }
}
