<div class="py-4 px-4">
  <h1 class="text-center">Fit Alert</h1>
  <div class="login-container mt-4 py-4 px-4">
    <h2>I have an account</h2>
    <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn login-button" [disabled]="loginForm.invalid">Sign in</button>
      </div>
      <p *ngIf="errorMessage" class="error mt-3">{{ errorMessage }}</p>
    </form>
  </div>
  <button id="google-login-button" class="google-login-button mt-4" (click)="loginWithGoogle()">
    <img src="assets/google.png" alt="Google Logo">
    <span>Log in with Google</span>
  </button>
  <button id="facebook-login-button" class="facebook-login-button mt-4" (click)="loginWithFacebook()">
    <img src="assets/facebook.png" alt="Facebook Logo">
    <span>Log in with Facebook</span>
  </button>
</div>
