
<div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
    </svg>
    <!-- <img src=""> -->
    <p style="font-size: large;">{{ getFullName() }}</p>
</div>

<div>
    <div class="container">
        <div class="section">Daily accomplishments</div>
    </div>
    <div class="accomplishments">
        <p>Tasks: </p>
        <p>Challenge streak: </p>
    </div>        
</div>


<div class="container">
    <div class="section">Account settings</div>
</div>

<form class="daily-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row ">
        <div class="col-sm-6">
            <label for="name" class="form-label">Name</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-6">
            <label for="surname" class="form-label">Last name</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="user.surname">
        </div>
    </div>
    
    <div class="row ">
        <div class="col-sm-6">
            <label for="email" class="form-label">Email</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email" readonly>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-6">
            <label for="phone" class="form-label">Phone</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone">
        </div>
    </div>

    <div class="row">
        <div>
            <button type="submit" class="submit btn">Save changes</button>
        </div>
    </div>
</form>
