$custom-el-color-primary: #C7DBA6;

.daily-form {
  margin: 20px;
  /* Margines dla całego formularza */
}

.form-control {
  margin-bottom: 10px;
  /* Margines na dole dla elementów formularza */
}

.form-label {
  margin-bottom: 5px;
  /* Margines na dole dla etykiet */
}

.submit {
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: #FFFFFF;
  float: right;
}

.submit:hover {
  background-color: $custom-el-color-primary;
}

.container {
  text-align: center;
  margin-top: 10px;
}

.section {
  background: $custom-el-color-primary;
  border: 1px solid #909090;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 15px 5px 5px 5px;
  // margin-left: 5px;
}

.accomplishments {
  background: white;
  border: 1px solid #909090;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 15px 5px 5px 5px;
}