<p>article works!</p>
<div class="article-container">

    <div class="article">
        <div class="article-title">
            article title
        </div>
        <div class="article-subtitle">
            article subtitle
        </div>
    <div class="article-img">
        article image
    </div>
    <div class="article-body">

        <p>
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum diam et luctus cursus. Morbi
            lacinia
            ante ac libero convallis, et pretium nisi maximus. Ut auctor tincidunt tincidunt. Etiam bibendum id arcu ac
            fermentum. Aenean consequat ante non lectus tristique ultrices. Curabitur in maximus purus. Mauris faucibus
            diam
            consequat dolor molestie, quis finibus nunc tincidunt. Cras maximus velit at nibh pharetra, at dapibus nunc
            blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent
            viverra
            tristique convallis.
        </p>
        <p>
            
            Proin ac scelerisque enim, vel tempor nisi. Sed facilisis mattis ex, quis suscipit risus facilisis ut.
            Suspendisse vitae lacus nec justo efficitur aliquet. Pellentesque habitant morbi tristique senectus et netus
            et
            malesuada fames ac turpis egestas. Duis id facilisis risus, id dapibus elit. Aenean ultricies non dui
            vehicula
            hendrerit. Donec semper imperdiet ultricies. Sed placerat fermentum ultricies. Curabitur at posuere ex, id
            posuere ipsum. In suscipit erat sed lectus sagittis finibus. Nullam consectetur, ex accumsan pulvinar
            tempor,
            ipsum quam feugiat nisl, quis venenatis lectus odio id arcu. Ut id nibh eu quam sagittis fringilla. Praesent
            eget bibendum quam, a dictum nulla. Nullam interdum libero turpis, ut efficitur lorem laoreet id. Quisque
            porta
            quis nibh et bibendum.
        </p>
        <p>

            Vestibulum tristique nisi justo, nec facilisis elit iaculis id. Phasellus porta, libero eu aliquam commodo,
            est
            magna eleifend magna, eu dapibus neque justo vel justo. Nunc vitae lacus nisi. Class aptent taciti sociosqu
            ad
            litora torquent per conubia nostra, per inceptos himenaeos. Vivamus sagittis quam non magna efficitur
            pellentesque eget a ipsum. Nulla id nisi eget tortor posuere lacinia sed id quam. Etiam vel mi ut justo
            vestibulum interdum. Aliquam finibus quam nibh, vel porta ipsum suscipit vel. Donec fringilla est tincidunt
            dui
            rhoncus, et mattis urna posuere. Aenean mattis et sem nec condimentum. Nulla facilisi. Sed et urna eget
            purus
            pharetra tincidunt.
        </p>
        <p>
            
            Phasellus consequat lorem ac tellus euismod, id aliquet dolor feugiat. Vestibulum ante ipsum primis in
            faucibus
            orci luctus et ultrices posuere cubilia curae; Ut sed tortor et felis maximus scelerisque. Pellentesque
            habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam in est rhoncus nisi
            vestibulum
            pretium eget eu nibh. Cras ac ligula mi. Aenean ac dolor dui. Praesent iaculis vitae dolor eu dapibus.
            Nullam
            nec magna elementum, malesuada purus nec, condimentum mauris. Phasellus nisl lacus, dapibus sit amet finibus
            sed, tincidunt sit amet tellus.
        </p>
        <p>
            
            Etiam est ante, consequat ac laoreet id, vehicula eu nunc. Quisque nunc nunc, gravida vulputate volutpat in,
            fermentum id velit. Pellentesque sed dui purus. Mauris aliquet turpis quam, ultricies malesuada eros
            ullamcorper
            ut. Nullam molestie est sed volutpat dapibus. Vestibulum auctor semper consequat. Morbi varius vitae velit
            nec
            ultricies. Nulla nisi diam, posuere vel mauris a, placerat maximus est. Ut gravida, diam vel volutpat
            feugiat,
            neque sem eleifend metus, quis suscipit diam magna ac dolor. Sed ornare erat nunc, non placerat sapien
            fermentum
            vel. Vivamus lacinia, felis nec eleifend eleifend, metus felis varius tellus, ac malesuada urna eros sit
            amet
            lorem. Vestibulum massa nisi, commodo efficitur magna sed, faucibus interdum felis. Phasellus sem sapien,
            finibus eleifend est at, gravida ultrices tellus.
        </p>
    </div>
    <div class="article-footer">
        article footer
    </div>
</div>
</div>