
<form class="daily-form">
    <div class="row ">
        <div class="col-sm">
            <label for="water" class="form-label" >number of glasses of water</label>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="water">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label for="water" class="form-label" >number of glasses of water</label>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="water">
        </div>
    </div>

</form>
