.daily-form {
    margin: 20px; /* Margines dla całego formularza */
  }
  
  .form-control {
    margin-bottom: 10px; /* Margines na dole dla elementów formularza */
  }
  
  .form-label {
    margin-bottom: 5px; /* Margines na dole dla etykiet */
  }
  