$custom-el-color-primary: #c7dba6;

.daily-form {
  margin: 20px;
  /* Margines dla całego formularza */
}

.form-control {
  margin-bottom: 10px;
  /* Margines na dole dla elementów formularza */
}

.form-label {
  margin-bottom: 5px;
  /* Margines na dole dla etykiet */
}

.form-select {
  margin-bottom: 10px;
}

.submit {
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  float: right;
}

.submit:hover {
  background-color: $custom-el-color-primary;
}
