<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="#">LOGO</a>
    <!-- Toggler Button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      [attr.aria-expanded]="!isNavbarCollapsed"
      aria-controls="collapseBasic"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Links -->
    <div class="collapse navbar-collapse" id="collapseBasic"  [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="today">Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your diary</a>
        </li>
        <li class="nav-item">
          <button class="btn">Profile</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
