<p>diary works!</p>
<div class="diary-container">
    <div class="diary-accordion">
        <div class="diary-entry-accordion-item">


            <div class="diary-entry-header">

            </div>
            <div class="diary-entry-accordion-collapsed-body">

            </div>
            <div>

            </div>
        </div>
    </div>
</div>
<div class="diary-container">
    <div class="diary-cards">
        <div class="diary-card">
            <div class="diary-card-img">

            </div>
            <div class="diary-card-title"></div>
            <div class="diary-card-content">
                
            </div>
        </div>
    </div>
</div>