div,
h2 {
  margin: 0;
  padding: 0;
}

#diary-title {
  justify-self: center;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.diary-container {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 25rem;
  width: 100%;
}
.month-year-bar {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  background-color: rgb(231, 231, 231);
}

$breakpointColumnsMap: (
  2: 700px,
  3: 900px,
  4: 1300px,
  5: 1600px,
  7: 2000px,
);
@mixin mq-col-template($width, $gridCol) {
  @media screen and (min-width: $width) {
    grid-template-columns: repeat($gridCol, 1fr);
  }
}

$borderRadius: 10px;

.diary-cards {
  padding: 1rem;

  border-width: 2px;
  border-style: solid;
  border-radius: $borderRadius;
  border-color: green;

  display: grid;
  gap: 1.1rem;
  grid-template-columns: 1fr;

  margin-inline: auto;
  width: auto;
  margin: 1rem;

  @each $col, $brp in $breakpointColumnsMap {
    @include mq-col-template($brp, $col);
  }
}

.diary-card {
  margin: 0;
  padding: 0;
  min-height: 10em;
  min-width: 16em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // border-style: solid;
  // border-color: blue;
  // border-width:  2px ;
  border-radius: $borderRadius;

  margin-bottom: 0.5em;

  &-title {
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: darken($color: #c7dba6, $amount: 20);
    border-radius: $borderRadius;
    width: 80%;

    margin: auto;
    margin-bottom: 0.5em;
    margin-top: 0em;
    padding: 0.1em 1em 0.1em 0.5em;

    background-color: #c7dba6;
    font-size: larger;
  }
  &-content {
    padding: 1em;
    margin: 0 0 0 0;
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: orange;
    border-radius: $borderRadius;
  }
  .line {
    margin: 0;
    padding: 0;
    min-width: 100%;
    //padding-left: 0.1em;
    display: inline-flex;
    justify-content: space-between;
  }
  .line ~ .line {
    margin: 0;
    margin-top: 0.6em;
  }
  // .text{
  // }
  .variable {
    border-style: solid;
    border-color: rgb(106, 129, 95);
    border-width: 1px;
    border-radius: $borderRadius;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 25%;
    text-align: center;
  }

  .variable-exercise {
    overflow: auto;
    max-height: 80px;
    width: 80%;
  }

  .emotions-list {
    margin-top: 5px; /* Dodaj odstęp między nagłówkiem a listą emocji */
  }

  .emotion-item {
    margin-bottom: 5px;
    text-align: left;
  }

  .quality-good {
    background-color: #76ec16;
  }
  .quality-medium {
    background-color: #00bbff;
  }
  .quality-bad {
    background-color: #b55fee;
  }

  .emotion-green {
    color: #3ac906;
  }

  .emotion-yellow {
    color: #ffcc00;
  }

  .emotion-red {
    color: red;
  }
}
