.diary-container{
    margin:0;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 100%;
}
.diary-cards {
    padding:1rem;
    
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: green;
    
    display: grid;
    gap:1.5rem;
    
    grid-template-columns: 1fr;

    margin-inline: auto;
    width:auto;
    //min-height: 100em;
    
    margin:1rem;
    .diary-card {
        margin: 0;
        padding: 2px;
        min-height: 10em;
        min-width: 16em;
        width: 100%;
        display: inline-block;
        border-style: solid;
        border-color: blue;
        border-width:  2px ;
    }
   
}

.diary-card div {
    margin: 0;
    padding: 0;
    
}
.diary-card p {
    margin: 0;
    padding: 0;
}

.diary-card img {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 7em;
    position: relative;
    object-position: bottom center;
    
}

@media screen and (min-width: 800px) {
    .diary-cards{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width: 1300px) {
    .diary-cards{
        grid-template-columns: repeat(7,1fr);
    }
}

.month-year-bar { 
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    background-color: rgb(231, 231, 231);
}

#diary-title {
    justify-self: center;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}