<div class="py-4 px-4">
  <h1> Hi {{ user }}!</h1>
  <div class="mood-el py-4 px-4">
      <h2>How do you feel?</h2>
      <div class="container text-center mt-3">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-success btn-sm-square">Success</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-warning btn-sm-square">Warning</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-danger btn-sm-square">Danger</button>
          </div>
        </div>
      </div>
  </div>
  <div class="daily-ch mt-4 py-4 px-4">
    <h2 class="text-center">Daily challange</h2>
    <div class=" container-fluid container-challange text-center py-4 px-4">
      <div class="card-challange text-dark py-4 px-4">{{ yourChallenge }}</div>
      <div class="overlay">
        <div class="text text-dark">?</div>
      </div>
    </div>
    <div>
      <button class="btn btn-success" (click)="challengeCompleted()">Challenge completed</button>
    </div>
    <div class="streak">
      <p class="text-right">Your streak: {{ counter }}</p>
    </div>
  </div>
  <div class="mt-4 py-4 px-4">
    <h2 class="text-center">Trending articles</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4" *ngFor="let article of trendingArticles">
          <div class="card-art py-4 px-4">
            <button type="button" class="article-button" [routerLink]="['/article',article.articleID]">
              <img class="img-fluid rounded" src="{{ article['article-img-url'] }}" alt="{{ article.title }}">
              <h5 class="mt-2">{{ article.title }}</h5>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


