$custom-el-color-primary: #C7DBA6;
$custom-el-color-secondary: #BBD8E1;
$card-color: #F0F0F0;

.mood-el {
  background-color: $custom-el-color-secondary;
  border-radius: 10px;
  padding: 10px; /* Dodajemy wypełnienie */
}

.btn-sm-square {
  font-size: 1rem;
  padding: 0.375rem 0.5rem;
  width: 150px;
  height: 100px;
  min-width: 2rem;
  text-align: center;
  display: inline-block; /* Ustawiamy na elementy blokowe, aby mogły być obok siebie */
  margin: 2px; /* Dodajemy odstęp między przyciskami */
  font-size: 1rem;
}

/* Media queries */
@media (max-width: 767px) {
  .btn-sm-square {
    width: 65px; /* Ustawiamy szerokość przycisków na 100px */
    height: 50px; /* Ustawiamy wysokość przycisków na 40px */
    margin: 2px; /* Dodajemy odstęp między przyciskami */
    font-size: 0.9rem;
  }
}


.daily-ch {
  background-color: $custom-el-color-primary;
  border-radius: 10px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-challange {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  left: 25%;
  background-color: $card-color;
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
  height: 72%;
  transition: .5s ease;
}

.container-challange:hover .overlay {
  width: 0;
}

.text {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.card-challange {
  background: #FFFEFE;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 50%;
}

.streak {
  text-align: right;
  margin-top: 10px;
  width: 100%;
}

.card-art {
  background-color: $custom-el-color-secondary;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.card-art h5 {
  white-space: nowrap;
}

.article-button {
  background-color: $custom-el-color-secondary;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (min-width: 1400px) {
  .card-art img {
    max-height: 300px;
  }
}
